@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid pink; */
}

body {
  background-color: #bcdbf8;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #404a53;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem 1rem;
  text-align: center;
  cursor: default;
}

/* Tool bar */

.actions-container {
  background-color: #515d69;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  height: auto;
  padding: 0.6rem 1rem;
}

#refresh-colors {
  display: flex;
  letter-spacing: 0;
  transition: color 200ms;
  cursor: pointer;
}

#refresh-text {
  margin-left: 0.5rem;
}

#refresh-colors:hover {
  color: #d9eafa;
}

#refresh-colors i {
  padding-top: 0.2rem;
  transition: transform 200ms;
  transform: rotate(-7deg);
}

#refresh-colors:hover i {
  transform: rotate(30deg);
}

#remove-favorites {
  cursor: pointer;
  visibility: hidden;
}

.remove-text {
  margin-left: 0.2rem;
}

#remove-favorites.active {
  visibility: visible;
}

#remove-favorites.active:hover,
#remove-favorites.active:focus {
  color: rgb(255, 125, 125);
}

/* Favorites bar */

#favorite-colors-container {
  /* position: relative; */
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 0.5rem;
  z-index: 99;
}

/* Sticky class added to favorites bar with JS when is reaches scroll position */
.sticky {
  position: fixed;
  top: 0;
}

.sticky + .content {
  padding-top: 50px;
}

#favorite-colors-container i {
  display: inline-block;
  font-size: 1.6rem;
  color: #9fc7ec;
  padding: 0.7rem 0.375rem;
  justify-self: flex-start;
  align-self: flex-start;
  pointer-events: none;
}

#favorite-colors-container #favorite-icon {
  font-size: 1.8rem;
}

#favorite-colors-container #clipboard-icon {
  position: absolute;
  right: 0.7rem;
  padding-top: 0.75rem;
}

#favorite-icon.icon-active,
#clipboard-icon.icon-active {
  color: #515d69;
}

#clipboard-icon.icon-active {
  pointer-events: all;
  cursor: pointer;
}

#clipboard-icon:hover ,
#clipboard-icon:focus i
 {
  color: #394c5f;
}

/* Selected color tiles in favorites bar */

#favorite-colors {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.45rem;
  padding-bottom: 0.25rem;
  margin-left: 0.1rem;
  margin-right: 2.625rem;
}

#favorite-colors li {
  position: relative;
  display: inline-block;
  top: 0;
  list-style-type: none;
  font-size: 0.8em;
  padding: 0.6em 0.9em 0.6em 0.75em;
  margin: 0 0.4em 0.3em 0;
  cursor: pointer;
}

#favorite-colors li:last-of-type {
  margin-right: 0;
}

#favorite-colors li:hover:after {
  content: '\2715';
  font-size: 0.5rem;
  color: inherit;
  position: absolute;
  top: 2px;
  right: 3px;
  opacity: 0.9;
}

/* Color grid */

#color-grid {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2px;
  transition: 500ms;
}

/* Aspect-ratio trick to display square grid items */
#color-grid > .my--color::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.my--color {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1 !important;
}

.hex--color {
  transition: opacity 200ms;
}

.my--color:hover span.hex--color,
.my--color:focus span.hex--color,
.my--color:hover .add--favorite,
.my--color:focus .add--favorite {
  /* overrides inline style from JavaScript */
  opacity: 1.0 !important;
}

.my--color.selected,
.my--color.selected span.hex--color,
.my--color.selected .add--favorite {
  opacity: 0.6 !important;
  pointer-events: none;
  filter: grayscale(25%);
}

.add--favorite {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1em;
  padding: 0.3em 0.5em;
}


@media (min-width:576px) {

  .title {
    font-size: 1.5rem;
    padding: 1.825rem 1.5rem;
  }

  .actions-container {
    font-size: 1rem;
    padding-right: 1.5rem;
  }

  #refresh-colors {
    margin-bottom: 0.5rem;
  }

  #favorite-colors-container {
    padding-left: 1.5rem;
  }

  #clipboard-icon {
    right: 0.6rem;
  }

}

@media (min-width: 768px) {
  .my--color {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .my--color {
    font-size: 0.85rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 1.75rem;
    padding: 1.825rem 2rem;
  }

  .actions-container {
    font-size: 1.1rem;
    padding-top: 0.8rem;
    padding-right: 2.25rem;
  }

  #favorite-colors-container {
    padding-left: 1.85rem;
  }

  #favorite-icon {
    width: 35px;
    margin: 0.2rem 1rem 0.35rem 0;
  }

  #favorite-colors li {
    position: relative;
    display: inline-block;
    top: 0;
    list-style-type: none;
    font-size: 0.85em;
    padding: 0.45em 0.95em 0.45em 0.8em;
    margin: 0 0.7em 0.3em 0;
    cursor: pointer;
  }

  #clipboard-icon {
    font-size: 1.75rem;
    right: 1.75rem;
  }

  .my--color {
    font-size: 0.95rem;
  }
}
